<div class="sm:p-2">
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
        <div class="bg-[#4a69bd] rounded shadow shadow-gray-700/50 p-4">
            <div class="w-[60px] h-[60px] rounded-full bg-[#4a69bd] mx-auto p-2.5 text-white shadow shadow-gray-500/50" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                </svg>                  
            </div>
            <div class="w-full text-center pt-4 pb-2 text-2xl text-white">
                Dobrodošel <span class="font-bold">Sebastijan Iršič</span>
            </div>
            <div class="w-full text-center py-1 text-sm text-white text-thin">
               Delovni plan za teden: 17.10.2022 - 22.10.2022, imaš pripravljen. 
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-white rounded relative p-3">
                <img src="assets/images/icons/fabric.png" class="w-14 h-14">
                <div class="w-[14rem] mx-auto my-1.5 text-xl font-bold text-sky-500 text-center">
                    Tkanina
                </div>
                <div class="w-full text-center py-3">
                    <button type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Naroči tkanino za izbran DN
                    </button>
                </div>
            </div>
            <div class="bg-white rounded relative p-3">
                <img src="assets/images/icons/fabric-pattern.png" class="w-14 h-14">
                <div class="w-[14rem] mx-auto my-1.5 text-xl font-bold text-sky-500 text-center">
                    Flisi
                </div>
                <div class="w-full text-center py-3">
                    <button type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Naroči flis za izbran DN
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full my-2 grid  sm:grid-cols-2 gap-4">
        <div class="bg-white rounded shadow shadow-gray-500/50 h-a p-3">
          <div class="grid grid-cols-2">
            <div class="font-medium text-xl text-gray-500">
              Delovanje linije
            </div>
            <div class="text-right">
              <div class="relative inline-block text-left">
                <div>
                  <button type="button" (click)="showDropDownMenuStats()" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    D - Linija
                    <!-- Heroicon name: mini/chevron-down -->
                    <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
                <div class="absolute right-0 hidden z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                      <!-- Heroicon name: mini/document-duplicate -->
                      <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                        <path d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                      </svg>
                      D - Linija
                    </a>
                  </div>
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                      <!-- Heroicon name: mini/document-duplicate -->
                      <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                        <path d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                      </svg>
                      N1 - Linija
                    </a>
                  </div>
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                      <!-- Heroicon name: mini/document-duplicate -->
                      <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                        <path d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                      </svg>
                      A3 - Linija
                    </a>
                  </div>
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                      <!-- Heroicon name: mini/document-duplicate -->
                      <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                        <path d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                      </svg>
                      G3 - Linija
                    </a>
                  </div>
                </div>
              </div>              
            </div>
          </div>
          <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 my-4">
            <div>
              <div id="cont" data-pct="100" width="100" height="100">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                </svg>
              </div>
              <div class="w-full p-4 text-xl font-medium text-gray-600 text-center">
                 Efektivnost
              </div>
            </div>
            <div>
              <div id="cont" data-pct="100" width="100" height="100">
                <svg id="svg2" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle id="bar2" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                </svg>
              </div>
              <div class="w-full p-4 text-xl font-medium text-gray-600 text-center">
                 Obremenitev
              </div>
            </div>
          </div>
        </div>
        <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
          <div class="bg-white rounded p-2">
              <img src="assets/images/icons/payment-method.png" class="w-12 h-12 mx-auto my-5">
              <div class="w-full text-center py-3 text-blue-400 font-medium">
                  Opravljene storitve
              </div>
          </div>
          <div class="bg-white rounded p-2">
            <img src="assets/images/icons/storage.png" class="w-12 h-12 mx-auto my-5">
            <div class="w-full text-center py-3 text-blue-400 font-medium">
                Sklaidščni list
            </div>
          </div>
          <div class="bg-white rounded p-2">
            <img src="assets/images/icons/paper.png" class="w-12 h-12 mx-auto my-5">
            <div class="w-full text-center py-3 text-blue-400 font-medium">
                Materijalni list
            </div>
          </div>
          <div class="bg-white rounded p-2">
            <img src="assets/images/icons/request.png" class="w-12 h-12 mx-auto my-5">
            <div class="w-full text-center py-3 text-blue-400 font-medium">
                Zahtevnica
            </div>
          </div>
          <div class="bg-white rounded p-2">
            <img src="assets/images/icons/cash-payment.png" class="w-12 h-12 mx-auto my-5">
            <div class="w-full text-center py-3 text-blue-400 font-medium">
                Zahteva za vračilo
            </div>
          </div>
          <div class="bg-white rounded p-2">
            <img src="assets/images/icons/more.png" class="w-12 h-12 mx-auto my-5">
            <div class="w-full text-center py-3 text-blue-400 font-medium">
                Več
            </div>
          </div>
        </div>
    </div>
    <div class="w-full rounded my-2 bg-white p-3">
        <div class="sm:flex sm:items-center py-3">
            <div class="sm:flex-auto">
              <h1 class="text-xl font-semibold text-gray-900">Plan dela za teden: 17.10.2022 - 22.10.2022 </h1>
              <p class="mt-2 text-sm text-gray-700">Spodaj je prikazan seznam delovnih nalogov za izbrani teden</p>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <div>
                    <label for="search" class="block text-sm font-medium text-gray-700">Iskanje po tabeli.</label>
                    <div class="relative mt-1 flex items-center">
                      <input type="text" name="search" id="search" class="block w-full rounded-md border-gray-300 pr-12 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
                        <kbd class="inline-flex items-center rounded border border-gray-200 px-2 font-sans text-sm font-medium text-gray-400">⌘K</kbd>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="w-full  divide-y divide-gray-300">
            <thead class="border-t border-gray-400">
              <tr>
                <th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">#</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Delovni Nalog</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Ident</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Naziv</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Širina</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Dolžina</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Gramatura</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Količina</th>
                <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr>
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">1</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">22007521</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">9945612</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">FLIS/F T15(4141) 400/233</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">233 cm</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">410 m</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">400 g</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">15x</td>
                <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="home/article" class="text-indigo-600 hover:text-indigo-900">Odpri</a>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">2</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">22007524</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">9945627</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">FLIS/F T15(2424) 450/223</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">223 cm</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">310 m</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">450 g</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">4x</td>
                <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="home/article" class="text-indigo-600 hover:text-indigo-900">Odpri</a>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">3</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">22007452</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">994585</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">FLIS/F 0820 450/223</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">223 cm</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">510 m</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">450 g</td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">12x</td>
                <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="home/article" class="text-indigo-600 hover:text-indigo-900">Odpri</a>
                </td>
              </tr>

              <!-- More transactions... -->
            </tbody>
        </table>
        </div>        

    </div>    
</div>