<div class="p-2">
    <div class="w-full p-2 grid grid-cols-2 gap-4 rounded shadow shadow-gray-500/50 bg-white">
        <div class="py-1">
            <div class="font-medium text-xl text-gray-700">
                Seznam vseh partnerjev
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-100 px-3 py-2 text-sm font-medium leading-4 text-gray-700 hover:bg-gray-200 mr-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>                                  
            </button>
            <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-green-100 px-3 py-2 text-sm font-medium leading-4 text-green-700 hover:bg-green-200 mr-2 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
            </button>
            <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-blue-100 px-3 py-2 text-sm font-medium leading-4 mr-2 text-blue-700 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>                  
            </button>
            <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-red-100 px-3 py-2 text-sm font-medium leading-4 mr-2 text-red-700 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>                  
            </button>
        </div>
    </div>
    <div class="grid lg:grid-cols-5 grid-cols-4 gap-4 my-3">
        <section class="bg-white rounded-2xl px-8 py-6 shadow-lg relative h-[370px]">
            <div class="flex items-center justify-between">
                <span class="text-gray-400 text-sm">Doddan pred: 2 dnevoma</span>
                <span class="text-red-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>                      
                </span>
            </div>
            <div class="mt-6 w-fit mx-auto">
                <img src="https://www.ursic.si/wp-content/uploads/2020/06/ursic-logo.png" class="rounded-full w-28 h-28 shadow shadow-gray-500/50 border border-gray-700 " alt="profile picture" srcset="">
            </div>
    
            <div class="mt-8 ">
                <h2 class="text-[#20354b] font-bold text-2xl tracking-wide py-1 border-b roder-gray-100">Uršič D.O.O</h2>
                <div class="text-[#20354b] font-bold text-sm tracking-wide py-2">Uršič Pekarsko - Donditorska oprema D.O.O</div>
            </div>
            <p class="text-green-400 font-semibold absolute bottom-5" >
                Aktiven
            </p>    
        </section>
        <section class="bg-white rounded-2xl px-8 py-6 shadow-lg relative">
            <div class="flex items-center justify-between">
                <span class="text-gray-400 text-sm">Doddan pred: 2 dnevoma</span>
                <span class="text-red-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>                      
                </span>
            </div>
            <div class="mt-6 w-fit mx-auto">
                <img src="http://cargotrade.ee/wp-content/uploads/2014/10/NEWweblogo.png" class="rounded-full w-28 h-28 shadow shadow-gray-500/50 border border-gray-700 " alt="profile picture" srcset="">
            </div>
    
            <div class="mt-8 ">
                <h2 class="text-[#20354b] font-bold text-2xl tracking-wide py-1 border-b roder-gray-100">Cargotrade D.O.O</h2>
                <div class="text-[#20354b] font-bold text-sm tracking-wide py-2">Cargotrade D.O.O</div>
            </div>
            <p class="text-green-400 font-semibold absolute bottom-5" >
                Aktiven
            </p>    
        </section>
    </div>
</div>