<div class="backdrop-blur-md bg-white/50 p-4 rounded shadow shadow-gray-500 mx-auto absolute top-40 left-0 right-0 w-[450px] h-a">
    <div class="w-full text-2xl text-center text-gray-600">
        Prijava
    </div>
    <div class="my-5">
        <label for="username" class="block text-sm font-medium text-gray-700">Uporabniško ime</label>
        <div class="mt-1">
          <input type="text" name="username" id="username" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Vnesite vaše uporabniško ime!">
        </div>
    </div>
    <div class="my-5">
        <label for="password" class="block text-sm font-medium text-gray-700">Geslo</label>
        <div class="mt-1">
          <input type="password" name="password" id="password" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Vnesite vaše geslo !">
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <a href="" class="text-gray-600 hover:text-gray-700 font-thin py-2">
            Ste pozabili vaše geslo ? 
        </a>
        <button type="button" class="text-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Prijava
        </button>
    </div>
</div>
<img src="assets/images/logo_white.png" class="w-[120px] h-[120px] absolute bottom-10 right-10">